@using ChairShopping.Interfaces;
@model List<Product>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> _SignInManager
@inject UserManager<ApplicationUser> _UserManager
@inject IAdmin _data;

@{
    Layout = "_Layout";
    var allCteg = await _data.GetCategoriesLimitAsync(5);

}

<head>
    <title>Shop</title>
</head>
<body>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <section class="bg0 p-t-23 p-b-140">
        <div class="container">
            <div class="p-b-10">
                <h3 class="ltext-103 cl5">
                    Product Overview
                </h3>
            </div>

            <div class="flex-w flex-sb-m p-b-52">
                <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                    <button onclick="GetProductsAsync(0,this)" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1">
                        All Products
                    </button>
                    @foreach (var items in allCteg)
                    {
                        var getprodCount = _data.GetProductsByCatgoryIdAsync(items.Id).Result.Count();

                        <button id="@items.Id" onclick="GetProductsAsync(@items.Id,this)" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".women">
                            @items.CategoryName (@getprodCount)
                        </button>
                    }
                </div>

                <div class="flex-w flex-c-m m-tb-10">
                    <div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
                        <i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
                        <i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                        Filter
                    </div>

                    <div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
                        <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
                        <i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                        Search
                    </div>
                </div>
                <!-- Search product -->
                <div class="dis-none panel-search w-full p-t-10 p-b-15">
                    <div class="bor8 dis-flex p-l-15">
                        <button onclick="GetProductsAsync(0,this)" type="submit" class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
                            <i class="zmdi zmdi-search"></i>
                        </button>
                        <input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search" placeholder="Search">
                    </div>
                </div>
                <form asp-action="Index" asp-controller="Shop" method="get">
                    <div class="dis-none panel-filter w-full p-t-10">
                        <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
                            <div class="filter-col1 p-r-15 p-b-27">
                                <div class="mtext-102 cl2 p-b-15">
                                    Sort By
                                </div>

                                <ul>
                                    <li class="p-b-6">
                                        <a href="#" class="filter-link stext-106 trans-04" onclick="setSortBy('Price: Low to High')">
                                            Price: Low to High
                                        </a>
                                        <input type="hidden" id="sortBy" name="sortBy" value="" />
                                        <script>
                                            function setSortBy(value) {
                                                document.getElementById('sortBy').value = value;
                                            }
                                        </script>
                                    </li>

                                    <li class="p-b-6">
                                        <a href="#" class="filter-link stext-106 trans-04" onclick="setSortBy('Price: High to Low')">
                                            Price: High to Low
                                        </a>
                                        <input type="hidden" id="sortBy" name="sortBy" value="" />
                                        <script>
                                            function setSortBy(value) {
                                                document.getElementById('sortBy').value = value;
                                            }
                                        </script>
                                    </li>
                                </ul>
                            </div>

                            <div class="filter-col2 p-r-15 p-b-27">
                                <div class="mtext-102 cl2 p-b-15">
                                    Price
                                </div>

                                <ul>
                                    <li class="p-b-6">
                                        <a href="#" class="filter-link stext-106 trans-04" onclick="setprice('0-50')">
                                            $0.00 - $50.00
                                        </a>
                                        <input type="hidden" id="price" name="price" value="" />
                                        <script>
                                            function setprice(value) {
                                                document.getElementById('price').value = value;
                                            }
                                        </script>
                                    </li>

                                    <li class="p-b-6">
                                        <a href="#" class="filter-link stext-106 trans-04" onclick="setprice('50-100')">
                                            $50.00 - $100.00
                                        </a>
                                        <input type="hidden" id="price" name="price" value="" />
                                        <script>
                                            function setprice(value) {
                                                document.getElementById('price').value = value;
                                            }
                                        </script>
                                    </li>

                                    <li class="p-b-6">
                                        <a href="#" class="filter-link stext-106 trans-04" onclick="setprice('100-150')">
                                            $100.00 - $150.00
                                        </a>
                                        <input type="hidden" id="price" name="price" value="" />
                                        <script>
                                            function setprice(value) {
                                                document.getElementById('price').value = value;
                                            }
                                        </script>
                                    </li>

                                    <li class="p-b-6">
                                        <a href="#" class="filter-link stext-106 trans-04" onclick="setprice('150-200')">
                                            $150.00 - $200.00
                                        </a>
                                        <input type="hidden" id="price" name="price" value="" />
                                        <script>
                                            function setprice(value) {
                                                document.getElementById('price').value = value;
                                            }
                                        </script>
                                    </li>

                                    <li class="p-b-6">
                                        <a href="#" class="filter-link stext-106 trans-04" onclick="setprice('200+')">
                                            $200.00+
                                        </a>
                                        <input type="hidden" id="price" name="price" value="" />
                                        <script>
                                            function setprice(value) {
                                                document.getElementById('price').value = value;
                                            }
                                        </script>
                                    </li>
                                </ul>
                            </div>

                            <div class="filter-col3 p-r-15 p-b-27">
                                <div class="mtext-102 cl2 p-b-15">
                                    Color
                                </div>

                                <ul>
                                    <li class="p-b-6">
                                        <span class="fs-15 lh-12 m-r-6" style="color: #222;">
                                            <i class="zmdi zmdi-circle"></i>
                                        </span>

                                        <a href="#" class="filter-link stext-106 trans-04" onclick="setcolor('black')">
                                            Black
                                        </a>
                                        <input type="hidden" id="color" name="color" value="" />
                                        <script>
                                            function setcolor(value) {
                                                document.getElementById('color').value = value;
                                            }
                                        </script>
                                    </li>

                                    <li class="p-b-6">
                                        <span class="fs-15 lh-12 m-r-6" style="color: #4272d7;">
                                            <i class="zmdi zmdi-circle"></i>
                                        </span>

                                        <a href="#" class="filter-link stext-106 trans-04" onclick="setcolor('blue')">
                                            Blue
                                        </a>
                                        <input type="hidden" id="color" name="color" value="" />
                                        <script>
                                            function setcolor(value) {
                                                document.getElementById('color').value = value;
                                            }
                                        </script>
                                    </li>

                                    <li class="p-b-6">
                                        <span class="fs-15 lh-12 m-r-6" style="color: #b3b3b3;">
                                            <i class="zmdi zmdi-circle"></i>
                                        </span>

                                        <a href="#" class="filter-link stext-106 trans-04" onclick="setcolor('grey')">
                                            Grey
                                        </a>
                                        <input type="hidden" id="color" name="color" value="" />
                                        <script>
                                            function setcolor(value) {
                                                document.getElementById('color').value = value;
                                            }
                                        </script>
                                    </li>

                                    <li class="p-b-6">
                                        <span class="fs-15 lh-12 m-r-6" style="color: #00ad5f;">
                                            <i class="zmdi zmdi-circle"></i>
                                        </span>

                                        <a href="#" class="filter-link stext-106 trans-04" onclick="setcolor('green')">
                                            Green
                                        </a>
                                        <input type="hidden" id="color" name="color" value="" />
                                        <script>
                                            function setcolor(value) {
                                                document.getElementById('color').value = value;
                                            }
                                        </script>
                                    </li>

                                    <li class="p-b-6">
                                        <span class="fs-15 lh-12 m-r-6" style="color: #fa4251;">
                                            <i class="zmdi zmdi-circle"></i>
                                        </span>

                                        <a href="#" class="filter-link stext-106 trans-04" onclick="setcolor('red')">
                                            Red
                                        </a>
                                        <input type="hidden" id="color" name="color" value="" />
                                        <script>
                                            function setcolor(value) {
                                                document.getElementById('color').value = value;
                                            }
                                        </script>
                                    </li>

                                    <li class="p-b-6">
                                        <span class="fs-15 lh-12 m-r-6" style="color: #aaa;" onclick="setcolor('white')">
                                            <i class="zmdi zmdi-circle-o"></i>
                                        </span>

                                        <a href="#" class="filter-link stext-106 trans-04">
                                            White
                                        </a>
                                        <input type="hidden" id="color" name="color" value="" />
                                        <script>
                                            function setcolor(value) {
                                                document.getElementById('color').value = value;
                                            }
                                        </script>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Apply Filters</button>
                </form>
            </div>
            <span id="mainLoader" class="loader"></span>
            <div class="tab-content">
                <div id="all" data-tab-content class="active">
                    <div id="prod-card" class="row d-flex flex-wrap">
                        @foreach (var items in Model)
                        {
                            <!-- Block2 -->
                            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
                                <div class="block2">
                                    <div class="block2-pic hov-img0">
                                        <div class="block2-pic hov-img0">
                                            <img src="~/asset/images/@items.Image" alt="IMG-PRODUCT" width="200" height="300" style="border-radius:10px">
                                        </div>
                                    </div>

                                    <div class="block2-txt flex-w flex-t p-t-14">
                                        <div class="block2-txt-child1 flex-col-l ">
                                            <a asp-action="Index" asp-controller="ProductDetails" asp-route-id="@items.Id" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                @items.ProductName
                                            </a>

                                            <span class="stext-105 cl3">
                                                @items.Price $
                                            </span>
                                        </div>
                                        <form asp-action="AddFavourites" asp-controller="Cart" method="post">
                                            <input type="hidden" name="ProductId" value="@items.Id" />
                                            @if (_SignInManager.IsSignedIn(User))
                                            {
                                                <input type="hidden" name="UserId" value="@_UserManager.GetUserId(User)" />
                                            }

                                            <div class="block2-txt-child2 flex-r p-t-3">
                                                <button type="submit" class="btn-addwish-b2 dis-block pos-relative">
                                                    <img src="images/icons/icon-heart-01.png" alt="ICON">
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                    <form asp-action="AddToCart" asp-controller="Cart" method="post">
                                        <input type="hidden" name="Price" value="@items.Price" />
                                        <input type="hidden" name="ProductId" value="@items.Id" />
                                        <input type="hidden" name="Discount" value="0" />
                                        @if (_SignInManager.IsSignedIn(User))
                                        {
                                            <input type="hidden" name="UserId" value="@_UserManager.GetUserId(User)" />
                                        }
                                        @if (items.NumberOfStock > 0)
                                        {
                                            <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                                                <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                                    <i class="fs-16 zmdi zmdi-minus"></i>
                                                </div>
                                                <input class="mtext-104 cl3 txt-center num-product" type="number" name="Quantity" value="1">
                                                <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                                    <i class="fs-16 zmdi zmdi-plus"></i>
                                                </div>
                                            </div>
                                            <button type="submit" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
                                                Add to cart
                                            </button>
                                            @if (items.NumberOfStock == 1 || items.NumberOfStock == 2)
                                            {
                                                <span class="text-danger">
                                                    Only @items.NumberOfStock left in stock - order soon.
                                                </span>
                                            }
                                        }
                                        else
                                        {
                                            <span style="color:#af5050">Out of stock , it will come soon .</span>
                                        }
                                    </form>
                                </div>
                            </div>
                        }
                        @* @await Component.InvokeAsync("ProductClasses",new{categ_id = 0,search = ""} ) *@
                    </div>
                </div>
            </div>


            <!-- Load more -->
            <div class="flex-c-m flex-w w-full p-t-45">
                <a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
                    Load More
                </a>
            </div>
        </div>
    </section>


    <!-- Start Footer Section -->
    <partial name="_Footer" />
    <!-- End Footer Section -->


    <script src="~/js/ProductAjax.js"></script>

</body>
