@model PlaceOrder
@{
    Layout = null;
}
<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="~/favicon.png" type="">
    <title>Famms - Fashion HTML Template</title>
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
    <!-- font awesome style -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/css/responsive.css" rel="stylesheet" />
</head>
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">PlaceOrder</h1> <br />
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">PlaceOrder</a></li>
                    <li class="breadcrumb-item active">PlaceOrder Card</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<section class="content">
    <div class="container-fluid">

        <table class="table table-hover table-striped table-bordered text-center">
            <thead class="thead-dark">
                <tr>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>OrderNotes</th>
                    <th>Coupon Number</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="font-weight-bold">
@*                 @if (ViewBag.AllPlaceOrders.Coupon.CouponCode == null){ return; } *@
                @foreach (var item in ViewBag.AllPlaceOrders)
                {
                    <tr>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Address</td>
                        <td>@item.Email</td>
                        <td>@item.Phone</td>
                        <td>@item.OrderNotes</td>
                        @if (item.Coupon==null)
                        {
                            <td> <span class="text-danger">No Coupon</span></td>
                        }
                        else
                        {
                            <td>
                                <span>@item.Coupon.Id</span>
                            </td>
                        }
                        <td>
                            <form asp-controller="dashboard" asp-action="DeletePlaceOrder" method="post">
                                <input type="hidden" name="Id" value="@item.Id" />
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a class="btn btn-success" asp-controller="dashboard" asp-action="index">Back</a>

        <br />
        Products count : @ViewBag.AllPlaceOrders.Count
    </div>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <!-- popper js -->
    <script src="~/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- custom js -->
    <script src="~/js/custom.js"></script>
</section>



